@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: clashBold;
  src: url(/docs/assets/fonts/ClashDisplay-Bold.otf) format('opentype');
}

@font-face {
  font-family: clashSemiBold;
  src: url(/docs/assets/fonts/ClashDisplay-Semibold.otf) format('opentype');
}

@font-face {
  font-family: clashMedium;
  src: url(/docs/assets/fonts/ClashDisplay-Medium.otf) format('opentype');
}

.clashBold {
  font-family: clashBold;
}

.clashSemiBold {
  font-family: clashSemiBold;
}

.clashMedium {
  font-family: clashMedium;
}

img,
button,
iframe,
a {
  user-select: none;
}

.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.myShadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:user-invalid {
  border: 1.5px solid rgba(255, 0, 0, 0.416);
}

p {
  color: #000000E5;
}

::placeholder {
  font-size: 1rem;
}

.card-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .position-md-absolute {
    position: absolute !important;
  }
}

/* Applies to all screen sizes by default */
.negative-mb-5 {
  margin-top: -2rem;
}

.rotate-12 {
  transform: rotate(2deg);
}

.rotate-12-reverse {
  transform: rotate(-2deg);
}

/* Cancel the styles on md (≥768px) and above */
@media (max-width: 768px) {
  .negative-mb-5 {
    margin-top: -1.5rem;
    /* or your default */
  }

  .rotate-12,
  .rotate-12-reverse {
    transform: rotate(0deg);
  }
}

.rop {
  z-index: 100;
  position: relative;
}

/* slider */

.slider {
  overflow: hidden;
  position: relative;
  height: 80px;
}

.slide-track {
  display: flex;
  width: calc(250px * 14);
  /* Adjust 250px to actual image width if needed */
  animation: scroll 40s linear infinite;
}

.slide {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  filter: grayscale(100%);
  opacity: 0.6;
}

.slide img {
  height: 40px;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.slider2 {
  overflow: hidden;
  position: relative;
  height: 80px;
}

.slide-track2 {
  display: flex;
  width: calc(250px * 14);
  /* Adjust if logo widths differ */
  animation: scroll-left 40s linear infinite;
}

.slide2 {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  filter: grayscale(100%);
  opacity: 0.6;
}

.slide2 img {
  height: 40px;
  object-fit: contain;
}

@keyframes scroll-left {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.clients {
  background: url(/docs/assets/images/clientsBg.png) no-repeat center center;
}

/* client slider */

.clientSlider {
  overflow: hidden;
  position: relative;
}

.client-slide-track {
  display: flex;
  width: calc(250px * 14);
  /* Adjust 250px to actual image width if needed */
  animation: client 40s linear infinite;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}


@keyframes client {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.clientSlider2 {
  overflow: hidden;
  position: relative;
}

.client-slide-track2 {
  display: flex;
  width: calc(250px * 14);
  /* Adjust 250px to actual image width if needed */
  animation: client2 40s linear infinite;
}

.client2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}


@keyframes client2 {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.accordion-button:not(.collapsed) {
  background-color: #f59e0b !important;
  color: #fff !important;
}

.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}


.accordion-button::after {
  content: "+";
  font-size: 1.25rem;
  transform: rotate(0deg);
}

.accordion-button {
  font-weight: bold;
  text-transform: capitalize;
}

.accordion-body {
  color: #fff;
  background-color: #f59e0b;
  font-size: 0.9rem;
  padding-top: 0;
}